;; for server------------

{:oauth-params
                   {;; Callback URL for Google
                    :redirect-uri "http://git.appsmiths.com:8000/oauth2callback"
                    ;; Client ID and secret (use https://console.developers.google.com/project to create project + client)
                    :client-id "578296909991-pm9lf6sti7aaslkhu0d2bogt44utq61t.apps.googleusercontent.com"
                    :client-secret "T3K1xUfRAvw43OQXRcTVQZqq"
                    ;; Scope for the generated tokens, adapt as required
                    :scope ["https://www.googleapis.com/auth/userinfo.email"]}

 ;; URL to redirect to when the token has been generated
 :success-url "http://git.appsmiths.com:8000/main.html"
 :notfound-url "http://git.appsmiths.com:8000/404.html"
 :port 8000}

;;for client ------------------
;{:oauth-params
;               {;; Callback URL for Google
;                :redirect-uri "http://localhost:8000/oauth2callback"
;                ;; Client ID and secret (use https://console.developers.google.com/project to create project + client)
;                :client-id "578296909991-pm9lf6sti7aaslkhu0d2bogt44utq61t.apps.googleusercontent.com"
;                :client-secret "T3K1xUfRAvw43OQXRcTVQZqq"
;                ;; Scope for the generated tokens, adapt as required
;                :scope ["https://www.googleapis.com/auth/userinfo.email"]}
;
; ;; URL to redirect to when the token has been generated
; :success-url "http://localhost:8000/index.html"
; :notfound-url "http://localhost:8000/404.html"
;
;
; ;; Port number to listen on for http requests
;  :port 8000}
